body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000;
    background: #FAFAFA;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
    border: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0%;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Header */

.header {
    display: flex;
}

.logo {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 365px;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.03em;
}

.logo-chocolate {
    font-style: normal;
}

.nav {
    display: flex;
    align-self: center;
}

.nav-list {
    display: flex;
    align-content: center;
    gap: 24px;
    margin-right: 90px;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
}

.soc-icon-list {
    display: flex;
    gap: 14px;
    align-self: center;
}

.soc-icon-link {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-item {
    fill: #111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link:hover,
.soc-icon-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.10);
}

.soc-icon-link:hover .soc-icon-item,
.soc-icon-link:focus .soc-icon-item {
    fill: #FD9222;
}


/* Section 1. Hero */

.hero {
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    padding: 381px 40px 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.70);
    background-image: linear-gradient(to bottom, 
    rgba(17, 17, 17, 0.40), 
    rgba(17, 17, 17, 0.40)), url('../images/hero-bg.jpg');
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 484px;
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.hero-btns {
    display: flex;
    justify-content: space-between;
}

.hero-btns-main {
    display: flex;
    gap: 14px;
}

.hero-btn-buy {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    border-radius: 100px;
    background: #FD9222;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-buy:hover,
.hero-btn-buy:focus {
    color: #FD9222;
    background: #FCF1E0;
}

.hero-btn-how {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-how:hover,
.hero-btn-how:focus {
    border: 1px solid #FD9222;
    color: #FD9222;
}

.hero-scroll {
    gap: 14px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-link {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-icon {
    fill: #FD9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover,
.hero-scroll:focus {
    color: #FD9222;
}

.hero-scroll:hover .hero-scroll-link,
.hero-scroll:focus .hero-scroll-link {
    background-color: #FD9222;
}

.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
    fill: #ffffff;
}


/* Section 2. Our benefits */

.benefits {
    background: #1E1823;
    margin-bottom: 60px;
}

.benefits-container {
    max-width: 1166px;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 33px;
}

.benefits-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 88px;
    padding: 50px 0px;
}

.benefits-item {
    width: calc((100% - 88px*2) / 3);
    position: relative;
}

.benefits-line::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.50);
    right: -44px;
    top: 63px;
}

.benefits-icon-container {
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 22px;
    width: 62px;
    height: 62px;
}

.benefits-title {
    margin-bottom: 18px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
}

/* Section 3. Tastes */

.tastes-title {
    width: 412px;
}

.tastes-title-taste {
    color: #FD9222;
}

.tastes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.tastes-item {
    width: calc((100% - 32px*3) / 4);
    padding: 28px 23px;
    position: relative;
}

.tastes-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #fff;
}

.tastes-item:nth-child(2n) .tastes-icon {
    color: #FD9222;
}

.orange {
    border-radius: 15px;
    background: #FD9222;
}

.white {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
}

.dark {
    border-radius: 15px;
    background: #1E1823;
}

.tastes-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left: 5px;
}

.black {
    color: #111;
}


/* Section 4. How it's made? */

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0 auto 50px;
}

.how-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.how-image {
    border-radius: 15px;
}

.how-card {
    width: 516px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

.how-card-title {
    font-size: 18px;
    font-weight: 600;
    width: 360px;
    margin-bottom: 28px;
}

.how-card-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.how-card-item {
    display: flex;
    align-content: flex-start;
}

.how-card-text {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.how-card-text::before {
    content: "";
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background-color: #4C4C4C;
    border: 1px solid #ECEDED;
    border-radius: 50%;
}


/* Section 5. Our products */

.products-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 18px;
}

.products-item {
    width: calc((100% - 18px*3) / 4);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 32px 20px;
}

.products-item-title {
    margin: 8px auto 2px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.products-item-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 18px;
}

.products-item-btn {
    display: flex;
    padding: 8px 20px;
    align-items: flex-start;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
}


/* Section 6. Top sellers */

.top-list {
    display: flex;
    gap: 16px;
}

.top-item {
    width: calc((100% - 16px*2) / 3);
}

.top-item-img {
    position: relative;
    overflow: hidden;
}

.top-item:hover .top-item-overlay {
    /* transform: translateY(0); */
    opacity: 1;
}

.top-image {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.top-item-overlay {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    width: 288px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    backdrop-filter: blur(7.5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 178px;
    padding-left: 40px;
    padding-right: 40px;
    /* transform: translateY(100%); */
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.top-item-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-top: none;
    background: #FFF;
}


/* Section 7. Reviews */

.reviews-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.reviews-item {
    width: calc((100% - 28px*2) / 3);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.03);
    position: relative;
    margin-top: 42px;
}

.reviews-client-photo {
    position: absolute;
    bottom: 162px;
    left: 140px;
}

.reviews-client-name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 56px;
}

.review-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    width: 312px;
    margin: 24px;
}

.reviews-btn {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 14px 40px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: transparent;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-btn:hover,
.reviews-btn:focus {
    background: #FD9222;
    color: #FFF;
}


/* Footer */

.footer {
    margin-top: 60px;
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 74px;
    align-content: flex-start;
}

.footer-first-row {
    display: flex;
}

.footer-text {
    width: 300px;
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin-right: 474px;
}

.footer-text-span {
    color: #FD9222;
}

.footer-subtitle {
    margin-bottom: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
}

.footer-icon-link {
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-icon-item {
    fill: #fff;
}

.footer-contact {
    margin-left: 50px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-item {
    color: #FFF;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

.footer-second-row {
    display: flex;
    justify-content: space-between;
}

.footer-nav-list {
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-nav-link {
    color: #FFF;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-form {
    display: flex;
}

.footer-input {
    margin-right: 8px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    padding: 14px 24px;
    color: #ECEDED;
    width: 313px;
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
}

.footer-btn {
    border-radius: 100px;
    background: #FD9222;
    display: flex;
    padding: 17px 40px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
}

/* Mofal-form */


/* Media. Resolution */

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                    rgba(17, 17, 17, 0.40),
                    rgba(17, 17, 17, 0.40)), url('../images/hero-bg@2x.jpg');
    }
}